.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}
.area-form{
    background-image: linear-gradient(135deg,#f5f5dc #000000);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 #000000,
               0 6px 20px 0 #000000;
              
}
.title
{
    font-size: 25px;
    color: #880561;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
.input-container
{
   display: flex;
   flex-direction: column;
   margin-top: 5px;
   gap: 8px;
}
.button-container
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
input[type="button"]
{
    font-size: 15px;
    background-image: linear-gradient(135deg,#000000,#adb3b1);
    color: #1d1010;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #0e0101;
}
input[type="button"]:hover{
    background: #009879;
    color: #009879;
}